* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;
}

/* shareable styles */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px;
    color: #fff;
    margin-top: 32px;
}

.title {
    /* color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #272727; */
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.description-text {
    color: rgba(39, 39, 39, 0.60);
    margin-top: 24;
}

/* banner styles start from here */
.banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}


.banner-img {
    width: 500px;
    height: 600px;
    margin-top: 50px;
    margin-right: 100px;
}

.banner-text h1 {
    font-size: 50px;
    color: #272727;
    font-weight: 800;
    line-height: 55px;


}

.banner-text p {
    color: rgba(39, 39, 39, 0.60);
    margin-top: 32px;

}

.banner-text {
    width: 500px;
    margin-left: 100px;
    padding-top: 100px;

}

/* bonus style area  */
.bonus-title {
    margin-top: 100px;
    text-size: normal;
}

.text-bonus p {
    text-align: center;
}

p {
    text-align: center;
    margin-top: 24px;
}

.bonus-image-tag {
    text-decoration: underline;
}

.box {
    width: 500px;


}

.image-bonus-1 {
    padding: 30px 0px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.image-bonus-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image-bonus-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image-size {
    width: 300px;
    height: 350px;
}

.image-bonus-1 .image-size {
    height: 320px;

}

.bonus {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    gap: 15px;
    margin-top: 30px;

}

/* optional part css */
.icon-optional {
    width: 200px;
    text-align: center;
}

.icon-optional-all {

    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    background-color: #2727270D;
    gap: 15px;
    margin-top: 100px;
}

/* hot-deal-section */
.hot-deal-text {
    text-align: center;

}

.hot-deal {
    display: flex;
    /* gap: 2px; */
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px;
    margin-top: 50px;
}

.hot-image {
    width: 180px;
    height: 190%;
    margin-right: 50px;
}

.span-text {
    border-radius: 8px;
    color: #E55473;
}

]