* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;
}

/* shareable styles */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px;
    color: #fff;
    margin-top: 32px;
}

.title {}


/* banner styles start from here */
.banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
}
    

.banner-img {
    width: 500px;
    height: 600px;
    margin-top: 50px;
    margin-right: 100px;
}

.banner-text h1 {
    font-size: 50px;
    color: #272727;
    font-weight: 800;
    line-height: 55px;
    
    
}

.banner-text p {
    color: rgba(39, 39, 39, 0.60);
    margin-top: 32px;
}
.banner-text{
  width: 500px;
  margin-left: 100px;
  padding-top: 100px;
   
}